# Q1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

*
hello
-87.8
-
/
+
6

# ANS 01.
*,-,+,/ = Expression 

hello = string
-87.8 = float number   
6 = integer
 # these are are called as Values (line no.4,5,6)

# Q2. What is the difference between string and variable?

# ANS 2.
Variable is something which store the information or data, e.g.(a=8), here 'a' is variable and  '8' is information which is stored in variable 'a'.

And string is type of information or data ,which lie under single or double pairs of quotes('',""), like a = "ankit",here 'ankit' is string and 'a' is variable.

# Q 3. Describe three different data types.

# ANS 3.
Three different data types are List,Tuple,Dictionary.
List is a data type which is denoted by big bracket "[ list ]" ,in list there are  various operations. Like - list.append,list.clear,list.count etc. List is mutable. Example of list is , l = [1,23,4,5]

Tuple is also a data type which is denoted by small bracket "(tuple)" , in tuple there are two  operations. Like- tuple.index(),tuple.count . Tuple is immutable. Example of tuple is ,t = (1,2,3,4)

Dictionary is also a data type which is denoted by querly bracket "{dictionary}",in dictionary we again perform various function . Dictionary is also mutable. Example is , dict = {"k":"ankit","z":[1,2,3,]}.

# Q 4. What is an expression made up of? What do all expressions do?

# ANS 3.
Expression is construct made up of variables, operators,combination of values, and combination of opertors that is interpreted to produce some other values.In any programming language, an expression is evaluated as per the precedence of its operators.


There are three kinds of expressions: An arithmetic expression evaluates to a single arithmetic value. A character expression evaluates to a single value of type character. A logical or relational expression evaluates to a single logical value.

# Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

# ANS 5.
Expression is made with value, varible and opertors which evaluated and make a single value, where expression evalate in a single value that is (spam =10) 10.

But statement does not evaluate in single value like above.

# Q 6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

In [5]:
# ANS 6.
bacon = 22
bacon + 1

23

# Q 7. What should the values of the following two terms be?
'spam'+'spamspam'
spam * 3

In [11]:
#ANS 7.
a = 'spam' + 'spamspam'
print(a)

b = 'spam' *3
print(b)

spamspamspam
spamspamspam

# Q 8. Why is eggs a valid variable name while 100 is invalid?

# ANS 8.
To write variable we have some rules ,which we should keep in mind that , we cannot use inbuilt function as variable name , we cannot use space( ) between variabl name.

We always take alphabet as a variable name but we can write like - Egg100 as a variable name or Egg_100 as a variable name.
We cannot use character as a variable name ,like Eggs@100 cannot be used as variable name.Its wrong way of taking Variable name.

# Q 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [15]:
#ANS 9.
#int () is for integer
#float () is for floating point number
#str() is for string

A = "100"
print("string is :", type(A))
b = int(A)
print("integer is " ,type(b))
c = float(A)
print("floating number is :", type(c))

string is : <class 'str'>
integer is  <class 'int'>
floating number is : <class 'float'>

# Q 10. Why does this expression cause an error? How can you fix it?  
 'I have eaten ' + 99 + ' burritos.'

In [23]:
#ANS 10.
#It cause error because we cannot concatenate string with integer for that we need to typecaste integer into string by str().
print("i have eaten " +  str ( 99 )  + " burritos")

i have eaten 99 burritos